<h1>ログインアプリ</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <h2> 現在 <%= current_user.name %> さんがログインしています </h2> <!-- ここを追加します -->
  <% current_user.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <%= link_to "プロフィール編集",  edit_user_registration_path %>
  <%= link_to "ユーザー一覧", comments_main_path %>
  <%=  "依頼済みのユーザー"%>
  <!-- 自分が依頼したデータの依頼されたユーザーを取得してる -->
  <% @request_user.each do |user| %>
    <%= user.requested_user.name %>
  <% end %>
  <%= "依頼してきたユーザー" %>
  <!-- 自分が依頼されたデータの依頼したユーザーを取得してる -->
  <% @requested_user.each do |user| %>
    <%= user.request_user.name %>
  <% end %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>
