<h1>ユーザー一覧</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <% @users.each do |user| %>
    <% if user == current_user %>
    <%# 自分を非表示にする %>
    <% else %>
      <% if flash[:success] %>
        <%= flash[:success] %>
      <% elsif flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
      <% user.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
      <h4> 名前： <%= user.name %> </h4>
      <h4> メールアドレス： <%= user.email %> </h4>  
      <%# 依頼ボタン %>
      <% if current_user.requesting?(user) %>
        <%= "すでに依頼済みです" %>
      <% else %>
        <%= render 'machings/request_button', user: user %>
      <% end %>
      <% if current_user.requested?(user) %>
      <% else %>
        <%= "このユーザーに依頼されています" %>
        <%= "承認する" %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to "プロフィール", root_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>
